@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5 {
  font-family: var(--font-heading);
  line-height: 1.25rem;
}

p {
  margin-bottom: .85rem;
  margin-top: .85rem;
}

.bg-fairy-floss {
  background: url('../../public/assets/images/bg-fairy-floss-01.jpg') no-repeat center;
  background-size: cover;
}

.bg-connections {
  background: url('../../public/assets/images/connections.svg') no-repeat bottom;
  background-size:initial;
  position: absolute;
}

#services-gallery .photo {
  overflow: hidden;
  background-size: contain;
}

#services-gallery img {
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: scale(1);
  transition: 300ms;
  filter: saturate(.35);
}

#services-gallery img:hover {
  transform: scale(1.1) rotate(-2deg);
  filter: saturate(.8);
}

#mediamentions h5::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #6451d0;
  left: -2.55rem;
  top: .5rem;
  z-index: 20;
  border-radius: 50%;
  box-shadow: 0 0 20px #2e17a1;
  border: 4px solid #2e17a1;
  transition: 300ms;
}

#mediamentions h5::before:hover {
  transform: scale(1.1);
}

#content h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#content h4 {
  margin-top: 3.35rem;
  margin-bottom: 2.65rem;
}

#content h5 {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1.2rem;
}

#content a {
  background-color: #6451d02a;
}