@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  line-height: 1.65rem;
  margin-bottom: 1.35rem;
  font-family: var(--font-raleway);
}

.bg-fairy-floss {
  background: url('../../public/assets/images/bg-fairy-floss-01.jpg') no-repeat center;
  background-size: cover;
}